@import "tailwindcss";

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/poppins/Poppins-Regular.ttf") format("woff2");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../assets/fonts/poppins/Poppins-ExtraLight.ttf") format("woff2");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../assets/fonts/poppins/Poppins-SemiBold.ttf") format("woff2");
}

@theme {
  --color-Red: hsl(0, 78%, 62%);
  --color-Cyan: hsl(180, 62%, 55%);
  --color-Orange: hsl(34, 97%, 64%);
  --color-Blue: hsl(212, 86%, 64%);
  --color-Grey-500: hsl(234, 12%, 34%);
  --color-Grey-400: hsl(212, 6%, 44%);
  --color-White: hsl(0, 0%, 100%);

  --font-Poppins: 'Poppins';
}



